.reuseSelectionArea {
	width: 200px;
	height: 60px;
	background-color: var(--background-color);
	border-radius: var(--selection-area-border-radius);
	overflow-y: auto;
}

.reuseSelections {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reuseSelection {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reuseSelection:hover {
	cursor: pointer;
	background-color: var(--highlight-color-1);
}

.reuseSelected {
	background-color: var(--highlight-color-2);
}
